.App {
  text-align: center;
  // background-image: url(https://cdn2.bigcommerce.com/server400/b83eb/images/stencil/original/products/408/643/cacao_alkalized__33276.1373398311.JPG?c=2);
  // background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url(http://www.kingkoko.com/images/logo%20small%203.png);
  height: 150px;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  // http://www.thecoconet.tv/assets/sm/upload/i3/gr/wh/gj/blobid0.jpg
  
}

.App-intro {
  font-size: large;
}

.Nav-bar {
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  border: 5px;
  border-color: black;
  background: #f0b7a1;
  background: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 20%, #bf6e4e 53%, #bf6e4e 53%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 20%,#bf6e4e 53%,#bf6e4e 53%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 20%,#bf6e4e 53%,#bf6e4e 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
  font-family: "Arial Black", Gadget, sans-serif;
  font-weight: 800;
  padding: 15px;
  text-shadow: 1px 1px black;
  
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
