.Home-page {
    width: 100%;
    height: 800px;
    background-size: inherit;
    background-position-y: 250px;
    background-position-x: 430px;
    background-repeat: no-repeat;
    background-color:black;
    background-image: url(http://ozoutback.com.au/Samoa/people/slides/1985050815.jpg);
    // background-image: url(http://www.freewebs.com/lindartw/WSsavai10.jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.box_home {
    
    background-position: center;
    background-size: cover;
    background-color: rgba(255,255,255, 0.7);
}

.home {
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 70px;
    text-shadow: 2px 2px black;
    padding: 10px;
}

p {
    
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 800;
    font-size: 45px;
    padding: 20px;
    text-shadow: 2px 2px black;
    
}